#fourth_div {
    background-image: url(../../assets/img/background-first.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}
#projects-title {
    font-size: 2em;
    padding-top: 20px;
}
.card-project {
    height: 200px;
    width: 300px;
    background-color: lightgray;
    border: 1em solid ghostwhite;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.card-text {
    text-align: center;
}
.card-project i {
    font-size: 2.5em;
    color: blue;
    padding-bottom: 20px;
}
/* .card-project h1 {
    padding-bottom: 20px;
} */
.card-project p {
    padding: 20px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1920px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-project {
        /* margin: 20px; */
        justify-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1536px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-project {
        /* margin: 20px; */
        justify-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1440px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-project {
        /* margin: 20px; */
        justify-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1366px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card-project {
        margin: 20px;
        justify-self: center;
    }
}

@media screen and (max-width: 768px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-project {
        margin: 20px;
        justify-self: center;
    }
}

@media screen and (max-width: 414px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-project {
        margin: 20px;
        justify-self: center;
    }
}

@media screen and (max-width: 375px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-project {
        margin: 20px;
        justify-self: center;
    }
}

@media screen and (max-width: 360px){
    #card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-project {
        margin: 20px;
        justify-self: center;
    }
}