#second_div {
    /* Photo by Dominika Roseclay from Pexels */
    background-image: url(../../assets/img/background-first.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}
#profil-pic {
    border-radius: 50%;
}
#resume-bio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#resume-name, #resume-job {
    font-size: 3em;
}
#resume-name {
    padding-top: 50px;
    padding-bottom: 50px;
}

#second_div {
    display: block;
    text-align: center;
}
#resume-bio {
    display: block;
}
#resume {
    display: flex;
    justify-content: center;
}
#second_div h1 {
    font-size: 2em;
}
#resume-title {
    padding-top: 20px;
}
#skills-title {
    padding: 20px;
}
#resume-text h1 {
    font-size: 2em;
}
#profil-pic {
    width: 200px;
    height: 200px;
}
#profil-div {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


/*
########################
M E D I A  Q U E R I E S
########################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}