#third-div {
    background-color: #343A40;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
/* #web-browser {
    border: 5px solid whitesmoke;
    border-top: 0;
} */
#top-web {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
#top-web p {
    /* width: 600px; */
    font-size: 1.2em;
}
#url-box {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: 70%;
    max-width: 600px;
    justify-content: space-between;
}
#skill-html {
    background-color: lightsalmon;
}
#skill-css {
    background-color: lightskyblue;
}
#skill-javascript {
    background-color: gold;
}
#skill-php {
    background-color: blueviolet;
}
#skill-java {
    background-color: lightgray;
}
#skill-sql {
    background-color: lightgoldenrodyellow;
}
#skill-jquery {
    background-color: lightsteelblue;
}
#skill-android {
    background-color: lightgreen;
}
#skill-git {
    background-color: lightcoral;
}
#skill-github {
    background-color: whitesmoke;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-pic {
    max-height: 135px;
    max-width: 135px;
}
.skills-container {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
########################
M E D I A  Q U E R I E S
########################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .img-pic {
        max-height: 150px;
        max-width: 150px;
    }
    .skills-container {
        width: 200px;
        height: 200px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #skills {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}