* {
    font-family: monospace;
}


/* WINDOW BLOCK */
#fake-container {
    padding-top: 50px;
    width: 100%;
    background-color: #343A40;
    display: flex;
    justify-content: center;
}
#fake-container-box {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
}
#fake-window {
    width: 300px;
    height: 200px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    border-top: 0;
    background-color: black;
}
#fake-top-window {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    background-color: whitesmoke;
}
.fake-buttons {
    margin: 5px;
}
#fake-top-window h2 {
    margin: 5px;
}
#fake-content {
    display: flex;
}
#minimize {
    color: yellowgreen;
}
#maximize {
    color: orange;
}
#close {
    color: red;
}

#fake-content p {
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    /* white-space: pre; */
    font-style: monospace;
    color: #00fa00;
    animation: type 5s steps(35, end), caret-blink 0.7s ease infinite;
    border-right: 3px solid #00fa00;
}
@keyframes type {

    0% {
        width: 0ch;
    }

    100% {
        width: 35ch;
    }
}
@keyframes caret-blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #00fa00;
    }

    100% {
        border-color: transparent;
    }
}

#app-container {
    background-color: #343A40;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#window-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#app-window {
    background-color: whitesmoke;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 600px;
    border: 5px solid silver;
    border-top: 0;
}
#fake-top-window-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
}
#fake-top-window-app h2 {
    margin: 5px;
}
#fake-content-app p {
    margin: 5px;
    font-size: 1.5em;
}
#fake-top-window-app i {
    margin-left: 4px;
    margin-right: 4px;
}
/* FIN WINDOW BLOCK */


/*
########################
M E D I A  Q U E R I E S
########################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

    #fake-container-box {
        grid-template-columns: 1fr 1fr;
        /* justify-content: center; */
    }
    #app-container {
        margin-top: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}